/* resources/css/app.css */

* {
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

/* 開発中のみ目の負担を減らすため背景色をグレーに設定 */
body {
  background-color: #bbb;
}

/* リンクの下線を削除 */
[href] {
  text-decoration-line: none;
}

/* 読み取り専用フィールドのスタイル */
[readonly] {
  background-color: #eeeeee;
  border-width: 0.1rem;
  opacity: 0.6;
  cursor: default;
  outline: none;
}
